
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

 dashboard go Store

@Html.ActionLink("Store2", "home", "Store", new { guid = "test" }, null)
@Html.ActionLink("Featured Products", "home", "Store", new { guid = "test" }, null)
@Html.ActionLink("Assessments", "assessments", "Store", new { guid = "test" }, null)
@Html.ActionLink("Books", "books", "Store", new { guid = "test" }, null)
@Html.ActionLink("For Individuals", "for individuals", "Store", new { guid = "test" }, null)
@Html.ActionLink("All Products", "all-products", "Store", new { guid = "test" }, null)
